In [2]:
import pandas as pd
import numpy as np

TWEET_DATA_PATH = "../FibVID/claim_propagation/origin_tweet.csv"

df_tweet = pd.read_csv(TWEET_DATA_PATH)
df_tweet.head()

,create_date,tweet_id,similarity,like_count,retweet_count,post_text,claim_number,group,hashtag,tweet_user
0,2020-07-28T14:04:36.000Z,1288113129889517578,0.000000,2823,1050,The latest round of testing from the Miami Mar...,0,1,NaN,85952
1,2020-07-28T03:36:37.000Z,1287955090184105984,0.000000,54,100,Scammers are cold calling Victorians claiming ...,0,1,COVID,5342
2,2020-07-27T21:05:06.000Z,1287856562200088581,0.000000,822,428,"“It feels like we’re alone,” Hialeah, FL, Mayo...",0,1,NaN,78787
3,2020-07-27T14:54:11.000Z,1287763218933395461,0.000000,36687,14982,The best laid plans of a multi-billion dollar ...,0,1,NaN,80798
4,2020-04-02T14:37:32.000Z,1245722037869477896,0.404285,13276,4154,NYC’s case fatality rate for Covid19 is now al...,57,1,NaN,80798

In [ ]:
unique, counts = np.unique(df_tweet["claim_number"], return_counts=True)
np.average(counts)

np.float64(6.013559322033898)

In [7]:
np.max(counts)

np.int64(38)