In [10]:
import pandas as pd
import numpy as np

USER_DATA_PATH = "../FibVID/user_information/user_information.csv"

df_users = pd.read_csv(USER_DATA_PATH)
df_users.head()

,following_count,follower_count,creation_date,description,user_id
0,101.0,56.0,2020-03-26 15:57:20,NaN,0
1,8104.0,22533.0,2015-07-21 22:10:47,"People say I’m skeptical, but I don’t believe ...",1
2,598.0,372.0,2019-02-02 19:01:35,Motorcycles. Retired merchant Mariner Captain...,2
3,322.0,203.0,2020-04-01 07:32:57,"Cheese, wine, medieval history, licensed foren...",3
4,102.0,4.0,2020-11-07 13:23:04,NaN,4

In [11]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144741 entries, 0 to 144740
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   following_count  144741 non-null  float64
 1   follower_count   144741 non-null  float64
 2   creation_date    142296 non-null  object
 3   description      125177 non-null  object
 4   user_id          144741 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 5.5+ MB

In [12]:
df_users["following_count"].mean()

np.float64(2524.772137818586)

In [13]:
df_users["follower_count"].mean()

np.float64(20886.040707194228)